.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0px 0px 5px #EADDCA;
    z-index: 10;
}

.img__event {
    position: absolute;
    top: 15vh;
    left: 5vw;
    min-width: 350px;
    max-width: 350px;
    animation: hoverLeft 5s ease-in-out infinite;
    z-index: -10;
}

.img__goal {
    position: absolute;
    top: 50vh;
    right: 10vw;
    min-width: 75px;
    max-width: 75px;
    animation: hoverRight 5s ease-in-out infinite;
    z-index: -10;
}

.img__habit {
    position: absolute;
    min-width: 125px;
    max-width: 125px;
    top: 75vh;
    left: 10vw;
    animation: hoverLeft 5s ease-in-out infinite;
    z-index: -10;

}

@keyframes hoverLeft {
    0% {
        transform: rotate(-10deg) translateY(-10px);
    }
    50% {
        transform: rotate(-10deg) translateY(10px);
    }
    100% {
        transform: rotate(-10deg) translateY(-10px);
    }
}

@keyframes hoverRight {
    0% {
        transform: rotate(10deg) translateY(-10px);
    }
    50% {
        transform: rotate(10deg) translateY(10px);
    }
    100% {
        transform: rotate(10deg) translateY(-10px);
    }
}